h1 {
  margin: 1em 0 !important;
}

h3 {
  margin: 2em 0 1em !important;
}

h6 {
  font-style: italic;
}

.post-category,
.delete-btn {
  position: absolute;
  right: 1em;
}

.new-post-btn {
  margin: 2.5em 0 0;
}

form a {
  margin-left: 0.5em;
}
